@font-face {
    font-family: 'Open Sans Light';
	src: local('Open Sans Light'), 
	local('OpenSans-Light'), 
	url('../fonts/OpenSans-Light.eot'), 
	url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Light.woff') format('woff'), 
	url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
}
@font-face {
    font-family: 'Open Sans Regular';
	src: local('Open Sans Regular'), 
	local('OpenSans-Regular'), 
	url('../fonts/OpenSans-Regular.eot'), 
	url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Regular.woff') format('woff'), 
	url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
}
@font-face {
    font-family: 'Open Sans Bold';
	src: local('Open Sans Bold'), 
	local('OpenSans-Bold'), 
	url('../fonts/OpenSans-Bold.eot'), 
	url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Bold.woff') format('woff'), 
	url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/icons/Flaticon.eot");
	src: url("../fonts/icons/Flaticon.eot?#iefix") format("embedded-opentype"),
			url("../fonts/icons/Flaticon.woff2") format("woff2"),
			url("../fonts/icons/Flaticon.woff") format("woff"),
			url("../fonts/icons/Flaticon.ttf") format("truetype"),
			url("../fonts/icons/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/icons/Flaticon.svg#Flaticon") format("svg");
	}
	}
	
	[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	  font-family: Flaticon;
	  font-size: 1.7rem;
	  font-style: normal;
	}

	.flaticon-work:before { content: "\f100"; }
	.flaticon-hour:before { content: "\f101"; }
	.flaticon-star:before { content: "\f102"; }
	.flaticon-heart:before { content: "\f103"; }
	.flaticon-diamond:before { content: "\f104"; }
	.flaticon-bow:before { content: "\f105"; }
	.flaticon-phone:before { content: "\f106"; }
	.flaticon-fun:before { content: "\f107"; }
	.flaticon-ps4:before { content: "\f108"; }
	.flaticon-joystick:before { content: "\f109"; }
	.flaticon-wizard:before { content: "\f10a"; }
	.flaticon-wand:before { content: "\f10b"; }
	.flaticon-airplane-flight:before { content: "\f10c"; }
	.flaticon-bucket:before { content: "\f10d"; }
	.flaticon-paint-bucket:before { content: "\f10e"; }
