// Font
$main-font          : 'PT Sans Regular', sans-serif;
$bold               : 'PT Sans Bold', sans-serif;
$bold-italic        : 'PT Sans Bold Italic', sans-serif;
$italic             : 'PT Sans Italic', sans-serif;


// Size

$mainFontSize    : 16px;


// Main colors
$main-text-color       : #47562f;
$main-green-color      : #97c741;
$main-light-color      : #fff;
$main-red-color        : #da1515;

$dark-grey-color      : #cecece;
$light-grey-color      : #eee;