html {
	font-size: $mainFontSize;
}

body {
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
	line-height: 1.2em;
	color: $main-text-color;
	background-size: inherit;
	font-family: $main-font;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	letter-spacing: 0.02em;
	line-height: 1.2em;
}

p {
	margin: 0;
	padding: 0;
	letter-spacing: 0.02em;
	line-height: 1.2em;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
	line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
	line-height: 1.2em;
	font-family: $bold;
}

h1 {
	font-size: rem(40);
}

h2 {
	font-size: rem(34);
}

h3 {
	font-size: rem(26);
}

h4 {
	font-size: rem(22);
}

h5 {
	font-size: rem(20);
}

h6 {
	font-size: rem(18);
}

a,
a:hover,
a:active  {
	transition: all 0.4s ease;
	text-decoration: none;
	color: inherit;
}

input:focus,
input,
input:hover,
input:active,
button:focus,
button,
button:hover,
button:active {
	outline: none;
}

button {
	cursor: pointer;
	letter-spacing: 0.02em;
	border: none;
}

input {
	background: transparent;
	border: none;
	padding: 5px 0;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.item-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-medium-color {
	color: $main-green-color;
}
.title-light-color {
	color: $main-light-color;
}

.space-title {
	margin-left: 4rem;
}

.title-line {
	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 5px;
		top: 0;
		left: -5%;
		background: $main-green-color;
	}
}

.bread-crumbs {
	display: flex;
	color: $main-light-color;;
	margin-bottom: 3rem;

	span {
		margin: 0.1rem;
		font-size: rem(16);
		padding: .6rem 1rem;
		background: $main-green-color;
		clip-path: polygon(5% 0,100% 0,95% 100%,0 100%);
	}

	span:last-child {
		font-family: $bold;
		cursor: default;
	}

	a {
		font-size: rem(16) !important;
	}

	a:hover {
		color: $main-text-color;
	}
}